* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    max-width: 100%;
}
html, body {
    margin: 0; height: 100%; overflow: hidden
}
html {
    font-size: 25px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
ul, li {
    display: inline-flex;
}
#profile-img {
    border-radius: 50%;
    width: 100%;
}
.nav-link {
    list-style-type: none;
}
li {
    font-family: 'Uchen', serif;
    font-size: 0.9rem;
    padding-right: 2%;
}
.nav-link:hover {
    text-decoration: underline;
}
ul {
    padding-right: 2%;
}
#app-img {
    width: 1.5%;
    padding-right: 0.5%;
}
#profile-img {
    width: 100%;

}
#logo-space {
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
}
#googlelogo {
    align-self: flex-end;
    object-fit: none;
}

#search {
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    border: 1px solid black;
    border-radius: 30px;
    margin: 0 auto;
    width: 35%;
}

.search-entry {
    align-self: stretch;
    border: none;
    outline: none;
    padding: 0;
    width: 90%;
    max-width: 90%;
    height: auto;
}

#searchlogo {
    align-self: flex-start;
}
#miclogo {
    width: 2%;
    max-width: 5%;
    align-self: right;
}

#centerbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
    width: 100%;
}
input[type=button] {
    border: none;
    outline: none;
    font-size: 0.7rem;
    border: 1px thin gray;
    padding: 0.8%;
    margin-right: 2%;
}

#footer {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    font-family: 'Uchen', serif;
    background-color: #f2f2f2;
    border-top: 1px thin gray;
}
#footer a {
    font-size: 0.7rem;
    text-decoration: none;
    color: #70757a;
}


@media (max-width:768px) {
    html {
        font-size: 50%;
    }
    #miclogo {
        width: 4%;
    }
    input[type=button] {
        padding: 2%;
        font-size: 1.5rem;
    }
    #search {
        width: 70%;
    }
    #footer {
        flex-direction: column;
    }
}
